
/* styled css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-lt-pro-2');
@import url('https://db.onlinewebfonts.com/c/fc650de7c3b3af62825a0e743b69425f?family=Helvetica+Neue+LT+W05+55+Roman');

body{
  overflow-x:hidden; margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

html{
    scroll-behavior: smooth;
    overflow-x:hidden;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(15, 18, 21, 0.362),rgb(15, 18, 21));
    position:relative;
    padding: 0 5%;
    display: flex;
    align-items: center;   
    
}

.hero video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero .grid-animation{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
 
}

.hero #content{
  font-family: 'Helvetica Neue LT W05 55 Roman', sans-serif;

}

.MainContent {
  background-color: rgb(15,18,21);
  position: relative;
  height: 100%;
}

.text-spaced {
  letter-spacing: 0.02em;
  line-height: 1.5; 
  font-weight: 900;
  display: inline-block; /* Penting untuk transformasi */
 
}


.about {
  max-width: 1080px;
  margin: 0 auto;
 
  
}