
/* home */

/* @import url('https://fonts.cdnfonts.com/css/danila'); */
/* @import url('https://db.onlinewebfonts.com/c/fc650de7c3b3af62825a0e743b69425f?family=Helvetica+Neue+LT+W05+55+Roman'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


@font-face {
    font-family: 'Danila';
    font-style: normal;
    font-weight: 400;
    src: local('Danila'), url('../assets/fonts/danila/danilla.woff') format('woff');
}



@font-face {
  font-family: 'Helvetica Neue LT W05 55 Roman';
  src: url('../assets/fonts/helvetica-roman/Web/fc650de7c3b3af62825a0e743b69425f.woff2') format('woff2'),
       url('../assets/fonts/helvetica-roman/Web/fc650de7c3b3af62825a0e743b69425f.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
 


body{
  overflow-x:hidden; margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

html{
    scroll-behavior: smooth;
    overflow-x:hidden;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(15, 18, 21, 0.362),rgb(15, 18, 21));
    position:relative;
    padding: 0 5%;
    display: flex;
    align-items: center;   

 
}

.hero video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero .grid-animation{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
 
}

.hero #content{
  font-family: 'Helvetica Neue LT W05 55 Roman', sans-serif;
 
}
.hero #content #signature{
  font-family: 'Danila', sans-serif;
}

.MainContent {
  background-color: rgb(15,18,21);
  position: relative;
  height: 100%;
}

.text-spaced {
  letter-spacing: 0.02em;
  line-height: 1.5; 
  font-weight: 900;
  display: inline-block;
 
}


.about {
  max-width: 1080px;
  margin: 0 auto;
 
  
}
